.custom-modal {
    max-width: 450px;
    .modal-content {
        border-radius   : 15px;
        background-color: #181c3a;

        .modal-header {
            border-bottom: 1px solid #252a4a;
            padding      : 1.5rem 1rem;

            .modal-title {
                width: 100%;
            }

            button {
                span {
                    font-size  : 2rem;
                    font-weight: normal;
                }
            }
        }

        .modal-body {
            padding: 1.5rem;

            .react-tabs__tab {
                width        : 50%;
                color        : #a1a1a1;
                font-size    : 1.2rem;
                border-radius: 0.5rem;

                &.react-tabs__tab--selected {
                    color           : white;
                    background-color: #090d27;
                }
            }

            button {
                width           : 100%;
                margin          : 1rem auto 0 auto;
                display         : block;
                background-color: #f8b94b;
                font-size       : 1.3rem;
                border-radius   : 0.4rem;
                padding         : 0.3rem;
            }
        }
    }
}